* {
    box-sizing: border-box;
    transition: 0.3s all;
    font-family: Tahoma;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    text-align: center;
    color: #000;
}

img {
    border: 0;
    outline: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #666;
}

#head {
    text-align: center;
    margin: 50px auto;
    text-transform: uppercase;
}

#head #title {
    font-size: 31px;
    text-transform: uppercase;
}

#head #descr {
    margin-top: 25px;
    font-size: 16px;
    color: #555;
}

#head #descr:before, #head #descr:after {
    font-size: 14px;
    margin: 0 5px;
    color: #666;
}

#head #descr:before {
    content: '->';
}

#head #descr:after {
    content: '<-';
}

#searchBox {
    margin: 25px auto;
    text-align: center;
    overflow: hidden;
}

#searchBox input {
    padding: 10px 25px;
    vertical-align: middle;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 5px;
}

#searchBox input[type="text"]:focus {
    outline: 2px solid #ccc;
}

#searchBox input[type="image"] {
    cursor: pointer;
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    margin: 0 2px;
}

#searchBox input[type="image"]:focus {
    position: relative;
    top: 1px;
}

#boxies {
    text-align: center;
    margin: 25px auto;
    overflow: auto;
    width: 90%;
    grid-gap: 10px 25px;
    display: grid;
    grid-template-columns: 127px 127px 127px 127px 127px 127px;
    background-color: #fff;
    padding: 10px;
}

.box {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-grid;
    grid-gap: 2px;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    text-align: center;
    width: 118px;
    max-width: 118px;
    height: 140px;
    max-height: 140px;
    cursor: pointer;
    overflow: hidden;
}

.box:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

.box .icon img {
    width: 96px;
    height: 96px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2px;
}

.box .icon img:hover {
    opacity: 0.8;
}

.box .title {
    font-size: 14px;
    overflow: auto;
    height: 21px;
    vertical-align: top;
}

.ads {
    background-color: #ddd;
    padding: 10px;
    margin: 5px auto;
    text-align: center;
    color: #333;
}

.ad {
    display: inline-block;
    margin: 0 5px;
    padding: 2px;
    border: 1px solid #aaa;
    overflow: hidden;
    cursor: pointer;
}

.ad.a125 {
    width: 131px;
    height: 131px;
}

.ad.a125:hover {
    transform: scale(1.1);
}

.ad.a125 img {
    width: 125px;
    max-width: 125px;
    height: 125px;
    max-height: 125px;
}

.ad.a125 img:hover {
    opacity: 0.8;
}

#foot {
    margin: 20px auto;
    font-size: 14px;
}

@media screen and (max-width: 339px) and (min-width: 180px){
    #boxies {
        grid-template-columns: 127px;
    }
}

@media screen and (max-width: 514px) and (min-width: 340px){
    #boxies {
        grid-template-columns: 127px 127px;
    }
}

@media screen and (max-width: 680px) and (min-width: 515px){
    #boxies {
        grid-template-columns: 127px 127px 127px;
    }
}

@media screen and (max-width: 849px) and (min-width: 681px){
    #boxies {
        grid-template-columns: 127px 127px 127px 127px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 850px){
    #boxies {
        grid-template-columns: 127px 127px 127px 127px 127px;
    }
}

@media screen and (max-width: 1189px) and (min-width: 1024px){
    #boxies {
        grid-template-columns: 127px 127px 127px 127px 127px 127px;
    }
}

@media screen and (max-width: 1350px) and (min-width: 1190px){
    #boxies {
        grid-template-columns: 127px 127px 127px 127px 127px 127px 127px;
    }
}

@media screen and (max-width: 1599px) and (min-width: 1351px){
    #boxies {
        grid-template-columns: 127px 127px 127px 127px 127px 127px 127px 127px;
    }
}

@media screen and (max-width: 1799px) and (min-width: 1600px){
    #boxies {
        grid-template-columns: 127px 127px 127px 127px 127px 127px 127px 127px 127px;
    }
}

@media screen and (min-width: 1800px){
    #boxies {
        grid-template-columns: 127px 127px 127px 127px 127px 127px 127px 127px 127px 127px;
    }
}